@page
@model CheckBox.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>Favor clicar na aba CHECK para verificar o exercicio!</p>