@page
@model CheckBox.Pages.ResultModel
@{
    ViewData["Title"] = "Result";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Result</h2>

<legend>Nome:</legend> @Model.Nome
<br>
<br>
<legend>Cor:</legend> @foreach (String item in Model.Cor)
{@item}
<br>
<br>
<legend>Sexo:</legend> @foreach (String item in Model.Sexo)
{@item}
<br>
<br>
<legend>Escolhas:</legend>
@foreach (String item in Model.Escolhas)
{@item<br>}


