@page
@model CheckBox.Pages.ResultModel
@{
    ViewData["Title"] = "Result";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Result</h2>

Nome: @Model.Nome
Cor: @foreach (String item in Model.Cor)
{@item}
<br>
Sexo: @foreach (String item in Model.Sexo)
{@item} 
<br>
Escolhas:<br>
 @foreach (String item in Model.Escolhas)
{@item<br>}


